<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>新闻动态</title>
		<meta name="keywords" content="">
        <meta name="description" content="在悠闲的午后，还是在意境朦胧的夜晚，一杯美味的奶茶，都能让你的身心，得到前所未有的放松。所以有很大的一部分人，就爱上了奶茶，奶茶的市场需求量，自然也就更多了。开方便面店赚钱不就在这种情况下，吸...">
		<link rel="stylesheet" href="__INDEX__/css/gc.css" />
		<script type="text/javascript" src="__INDEX__/js/gc.js" ></script>
		<script type="text/javascript" src="__INDEX__/js/jquery.js"></script>
		<script type="text/javascript" src="__INDEX__/js/jquery.min.js"></script> 
	</head>
	<body>
		<!-- 頭部 -->
		{include file="common/header"}
		<!--/頭部 -->
		{include file="common/content"}
		<section>	
			<div style="position: relative; height: 1200px; top: 30px; bottom: 50px;">
				<div class="div3" style="position: relative; height: 800px; margin: 0 auto;">
					<h3>新闻动态</h3>
					<div class="line"></div>
					<div class="div3_1">
						{volist name="news_select" id="vo"}	
						<a href="{:url('news/index1',array('newsid'=>$vo['id']))}"><p>{$vo.title}</p></a>
						<div>{$vo['time']|date="Y-m-d",###}</div>
						<div class="c">{$vo.desc}</div>
						{/volist}
					</div>
				</div>
			</div>
			<div style="position: relative; float: right; right: 150px; bottom: 300px;">{$news_select->render()}</div>
		</section>
		<!-- 腳部 -->
		{include file="common/footer"}
		<!--/腳部 --> 
	</body>
</html>
