		<footer style="position: absolute;">
			<img src="__INDEX__/img/code.jpg" />
			<div class="d">
				<div>友情链接：</div>
				<div>备案号：粤ICP备17162717号</div>
				<div>地址：广州市白云区石槎路石井城市广场B座3楼A08</div>
				<div>版权所有 ©搞茶LABOTHERY加盟总部</div>
			</div>
			<div class="e">
				<ul>
					<li><a href="{:url('index/index')}">官网首页</a></li>
					<li><a href="{:url('headquarters/index')}">搞茶总部</a></li>
					<li><a href="{:url('news/index')}">新闻动态</a></li>
					<li><a href="{:url('successful/index')}">成功案例</a></li>
					<li><a href="{:url('produce/index')}">产品展示</a></li>
					<li><a href="{:url('join/index')}">加盟搞茶</a></li>
				</ul>
			</div>
		</footer>