<header>
	<div><img src="__INDEX__/img/logo.png" /></div>
	<ul>
		<li><a href="{:url('index/index')}">官网首页</a></li>
		<li><a href="{:url('headquarters/index',array('cate_id'=>1))}">搞茶总部</a></li>
		<li><a href="{:url('news/index',array('cate_id'=>2))}">新闻动态</a></li>
		<li><a href="{:url('successful/index',array('cate_id'=>3))}">成功案例</a></li>
		<li><a href="{:url('produce/index',array('cate_id'=>4))}">产品展示</a></li>
		<li><a href="{:url('join/index',array('cate_id'=>5))}">加盟搞茶</a></li>
	</ul>
</header>
